<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="page_id" content="[*id*]">
	    
	    <!-- Prevents browsers from sending rerferrer-headers for href, img and ajax-requests.
	    This for external media content, where requests may get filtered -->
	    <meta name="referrer" content="no-referrer" />
		
		<title>[*pagetitle*] :: [(site_name)]</title>
		        
		<!-- Generated includes -->
		[[ExFace? &template=`exface.JEasyUiTemplate.JEasyUiTemplate` &action=`exface.Core.ShowHeaders`]]	
		
		<!-- jQuery-Plugin to run in iOS-WebApp window -->
		<script type="text/javascript" src="exface/vendor/exface/JEasyUiTemplate/Templates/js/jquery.stayInWebApp.js"></script>
		<script type="text/javascript">
			$(function() {
				$.stayInWebApp();
			});
		</script>
		
		<!-- sparklines -->
		<script type="text/javascript" src="exface/vendor/exface/JEasyUiTemplate/Templates/js/jquery.sparkline.min.js"></script>
		
	</head>
	<body class="easyui-layout">
	    <!-- Spinner to hide unrendered markup -->
        <div style="height: 100vh; line-height: 100vh;" class="spinner-bg">
            <i class="panel-loading"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <!-- / Spinner to hide unrendered markup -->
		<!-- HEADER -->
		<div data-options="region:'north',border:false" style="height:50px; padding:10px; overflow: hidden;">
			<div class="logo">
				<a href="[(site_url)]">Power <b>UI</b></a>
			</div>
			<div style="float:right;">
				<div id="contextBar" class="top-toolbar">
				    <div class="toolbar-element">
						<div class="panel-loading"></div>
					</div>
					[!if &is=`[!UserManagerInfo!]:not_empty` &then=`
					<div class="toolbar-element user-info"> 
						[!if? &is=`[!UserManagerInfo? &field=`photo`!]:not_empty` &then=`<img src="[!UserManagerInfo? &field=`photo`!]" height="30" class="user-image" /> ` &else=``!]
						<span class="user-display">[!UserManagerInfo? &field=`fullname`!]</span>
					</div>
					<div class="toolbar-element login-logout">
						<div class="toolbar-button">
							<a href="[~[(unauthorized_page)]~]?webloginmode=lo" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-sign-out'">Logout</a>
						</div>
					</div>
					` &else=`
					<div class="toolbar-element user-info"> 
						<span class="user-display">Guest</span>
					</div>
					<div class="toolbar-element login-logout">
						<div class="toolbar-button">
							<a href="[~[(unauthorized_page)]~]" class="easyui-linkbutton" data-options="plain:true,iconCls:'fa fa-sign-in'">Login</a>
						</div>
					</div>
					`!]
				</div>
			</div>
		</div>
		
		<!-- MENU LEFT -->
		<div data-options="region:'west',split:true,title:'Navigation'" style="width:200px;">
			<div class="easyui-accordion" data-options="fit:true,border:false">
		        <div title="Favoriten" data-options="" style="overflow:auto;">
		            <ul class="nav_menu">
		        		<li><a href="#">Artikel-Info</a></li>
		        		<li><a href="#">Wareneingang</a></li>
	        		</ul>
		        </div>
		        <div title="Menü" data-options="selected:true" style="">
		        	[!Wayfinder?startId=`1` &hideSubMenus=`TRUE` &outerClass=`nav_menu`!]       
		        </div>
		        <div title="Verlauf" data-options="" style="">
		                     
		        </div>
	        </div>
		</div>
		
		<!-- MENU RIGHT -->
		<div data-options="region:'east',split:true,collapsed:true,title:'Hinweise'" style="width:200px;">
			<div class="easyui-accordion" data-options="fit:true,border:false">
				<div title="Dialog [*pagetitle*]" data-options="collapsed:false,collapsible:false" style="">
					<p style="padding: 5px; box-sizing:border-box;">[*introtext*]</p>
				</div>
				<div title="Sichten" data-options="selected:true, collapsed: false">
					[!Wayfinder? &startId=`[[if? &is=`[*isfolder*]:=:1` &then=`[*id*]` &else=`[*parent*]`]]` &hideSubMenus=`TRUE` &outerClass=`nav_menu` &ignoreHidden=`1` &outerTpl=`@CODE: <ul[+wf.classes+]><li><a href="[~[*parent*]~]">Default</a></li>[+wf.wrapper+]<li><a href="[(SITE_URL)]manager/index.php?a=4&pid=[[if? &is=`[*isfolder*]:=:1` &then=`[*id*]` &else=`[*parent*]`]]&quickmanager=1" class="colorbox cboxElement">Neue Sicht hinzufügen...</a></li></ul>`!]
		        </div>
	        </div>
		</div>
		
		<!-- MAIN -->
		<div data-options="region:'center',title:'[[singleQuotes? &string=`[[Breadcrumbs? &showHomeCrumb=`1`]]`]]'">
			[[ExFace? &template=`exface.JEasyUiTemplate.JEasyUiTemplate` &fallback_field=`content`]] 
		</div>
	</body>
</html>